/* nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
nav-link {
    text-decoration: none;
    color: white;
    padding: 8px;
    display: inline;
    float: left;
  }
  
nav-bar .nav-link:hover {
    background-color: lightgrey;
  } */